<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.feedsheep.online_train_ticket.mapper.TicketMapper">


    <insert id="save">

        INSERT INTO `online_train_ticket`.`ticket`(`departure_station`, `next_station`, `departure_time`, `arrival_time`, `train_number`, `business_inventory`,
                                                   `first_inventory`, `second_inventory`, `standing_inventory`, `business_price`, `first_price`, `second_price`,
                                                   `standing_price`, `create_time`)
        VALUES (#{departureStation}, #{nextStation}, #{departureTime}, #{arrivalTime}, #{trainNumber}, #{businessInventory},
                #{firstInventory}, #{secondInventory}, #{standingInventory}, #{businessPrice}, #{firstPrice}, #{secondPrice},
                #{standingPrice}, #{createTime});

    </insert>

    <update id="addStandingTicket">
        UPDATE `online_train_ticket`.`ticket`
        SET `standing_inventory` = `standing_inventory` + 1, `version` = `version` + 1
        WHERE `id` = #{ticketId};
    </update>

    <update id="addSecondTicket">
        UPDATE `online_train_ticket`.`ticket`
        SET `second_inventory` = `second_inventory` + 1, `version` = `version` + 1
        WHERE `id` = #{ticketId};
    </update>

    <update id="addFirstTicket">
        UPDATE `online_train_ticket`.`ticket`
        SET `first_inventory` = `first_inventory` + 1, `version` = `version` + 1
        WHERE `id` = #{ticketId};
    </update>

    <update id="addBusinessTicket">
        UPDATE `online_train_ticket`.`ticket`
        SET `business_inventory` = `business_inventory` + 1, `version` = `version` + 1
        WHERE `id` = #{ticketId};
    </update>

    <select id="findByDateAndStation" resultType="Ticket">

        SELECT * FROM `ticket`
        WHERE departure_time BETWEEN #{dateStart} AND #{dateEnd} AND departure_station = #{startStation} AND next_station = #{endStation}
        ORDER BY departure_time,arrival_time

    </select>

</mapper>